.navbar{
    background-color: grey;
}

#navbarNav{
    justify-content: space-between;
}

.btn{
    background-color:green;
}

a.nav-link{
    color: white;
}

a.navbar-brand{
    color: white;
}

span{
    color: white;
}